// FONTS
$inter: "Inter", serif;
$roboto: "Roboto", serif;

// FONTS WEIGHTS
$black: 900;
$bold: 600;
$regular: 400;
$light: 300;

// BREAKPOINTS
$bp320: 320px - 1px;
$bp375: 375px - 1px;
$bp480: 480px - 1px;
$bp600: 600px - 1px;
$bp768: 768px - 1px;
$bp992: 992px - 1px;
$bp1024: 1024px - 1px;
$bp1200: 1200px - 1px;
$bp1400: 1400px - 1px;

html {
    font-family: $roboto;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: $regular;
}

body {
    background-color: #f1f1f1;
}

// MIXINS
@mixin toRem($value) {
    font-size: #{$value / 16px}rem
}