.prizes {
    .paragraph {
        font-size: 25px;
        font-weight: $light;
        letter-spacing: 1px;
        line-height: 30px;
        margin-top: 25px;

        strong {
            font-weight: $black;
        }
    }
}