$faq-background-color: #F1F1F1;

.prize {
    .prize__banner {
        .banner-prize {
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;
        }

        .paragraph {
            @include toRem(25px);
            font-weight: $light;
            letter-spacing: 1px;
            line-height: 30px;

            strong {
                font-weight: $black;
            }
        }

        .mobile-list {
            display: none;

            .subtitle {
                font-weight: $black;
                @include toRem(25px);
            }

            .list {
                list-style-type: disc;
                margin-left: 30px;
                font-weight: $light;
                @include toRem(18px);
                margin-top: 10px;

                li {
                    margin-bottom: 5px;
                }
            }

            @media(max-width: $bp768) {
                .subtitle {
                    @include toRem(20px);
                }

                .list {
                    @include toRem(16px);
                }
            }

            @media(max-width: $bp600) {
                .subtitle {
                    @include toRem(18px);
                }

                .list {
                    @include toRem(14px);
                }
            }
        }

        @media(max-width: $bp992) {
            .prize__banner-flex {
                display: flex;
            }

            .paragraph {
                width: 60%;
                @include toRem(20px);
                line-height: initial;
                letter-spacing: 1px;
            }

            .mobile-list {
                display: block;
                width: 40%;
                padding-left: 5px;
            }
        }

        @media(max-width: $bp768) {
            .paragraph {
                width: 60%;
                @include toRem(18px);
                line-height: initial;
                letter-spacing: 1px;
            }

            .mobile-list {
                display: block;
                width: 40%;
                padding-left: 20px;
            }
        }

        @media(max-width: $bp600) {
            .paragraph {
                width: 50%;
                @include toRem(16px);
            }

            .mobile-list {
                width: 50%;
                padding-left: 10px;
            }
        }
    }

    .prize__flex {
        display: flex;
        margin-top: 50px;

        @media(max-width: $bp992) {
            flex-direction: column;
        }

        .prize__list {
            width: 30%;

            .subtitle {
                font-weight: $black;
                @include toRem(40px);
            }

            .list {
                list-style-type: disc;
                margin-left: 30px;
                font-weight: $light;
                @include toRem(25px);
                margin-top: 20px;

                li {
                    margin-bottom: 10px;
                }
            }

            @media(max-width: $bp1400) {
                .subtitle {
                    @include toRem(30px);
                }

                .list {
                    @include toRem(20px);
                    margin-top: 5px;
                }
            }

            @media(max-width: $bp1200) {
                width: 40%;

                .list {
                    @include toRem(18px);
                }
            }

            @media(max-width: $bp992) {
                display: none;
            }
        }

        .banner-content {
            display: flex;
            align-items: flex-end;

            @media(max-width: $bp992) {
                align-items: center;
            }

            .banner {
                width: 45%;
            }

            .subtitle {
                @include toRem(60px);
                font-weight: $black;
                text-transform: uppercase;
                line-height: 55px;
            }

            .disclaimer {
                display: block;
                @include toRem(12px);
                margin-bottom: 40px;
                margin-top: 8px;

                @media(max-width: $bp992) {
                    display: none;
                }
            }

            @media(max-width: $bp1200) {
                .banner {
                    width: 40%;
                }

                .subtitle {
                    @include toRem(35px);
                    line-height: 30px;
                }

                .disclaimer {
                    margin-top: 3px;
                }
            }

            @media(max-width: $bp992) {
                .subtitle {
                    @include toRem(50px);
                    line-height: 45px;
                }
            }

            @media(max-width: $bp768) {
                .subtitle {
                    @include toRem(38px);
                }
            }

            @media(max-width: $bp600) {
                .subtitle {
                    font-size: 6.5vw;
                    line-height: 6vw;
                }
            }
        }
    }

    .prize__finals {
        background-color: #221D44;
        padding: 50px;
        border-radius: 55px;
        margin-top: -10px;

        @media(max-width: $bp992) {
            margin-top: 20px;
        }

        .title {
            @include toRem(55px);
            color: #FDC300;
            font-weight: $black;
        }

        .paragraph {
            @include toRem(20px);
            letter-spacing: 1.5px;
            word-spacing: 1px;
            color: #fff;
            font-weight: $light;
            margin-top: 10px;
        }

        @media(max-width: $bp992) {
            margin-top: 20px;
            padding: 20px 30px;

            .title {
                @include toRem(35px);
                text-align: center;
            }

            .paragraph {
                @include toRem(15px);
                text-align: center;
            }
        }

        @media(max-width: $bp600) {
            margin-top: 20px;
            padding: 20px 30px;

            .title {
                @include toRem(20px);
            }

            .paragraph {
                @include toRem(12px);
            }
        }
    }
}

.sorteio {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media(max-width: $bp768) {
        margin-top: 50px;
    }

    .title-negative {
        width: 100%;
        text-align: right;
        @include toRem(90px);
        color: #0074B1;
        font-weight: $black;
        border-radius: 50px;
        margin-left: 155px;
        padding: 2px;
        background: linear-gradient(to right, #f1f1f1 20%, #221D44 20%);
    }

    .border-style {
        background-color: #f1f1f1;
        border-radius: 50px;
        display: block;
        padding-right: 50px;
    }

    .disclaimer {
        text-align: right;
        display: block;
        margin-right: 35px;
        margin-top: 10px;
        @include toRem(20px);
        font-weight: $light;

        br {
            display: none;
        }
    }

    .sorteio__banner {
        display: flex;
        align-items: center;
        margin-top: -230px;

        @media(max-width: $bp1400) {
            margin-top: -200px;
        }

        img {
            width: 40%;
        }
    }

    @media(max-width: $bp1400) {
        .title-negative {
            @include toRem(70px);
        }

        .sorteio__banner {
            margin-top: -200px;
        }

        .disclaimer {
            @include toRem(16px);
        }
    }

    @media(max-width: $bp1200) {
        .title-negative {
            @include toRem(50px);
        }

        .sorteio__banner {
            margin-top: -170px;
        }

        .disclaimer {
            @include toRem(14px);
        }
    }

    @media(max-width: $bp992) {
        .sorteio__banner {
            margin-top: -150px;
        }

        .title-negative {
            @include toRem(35px);
        }

        .disclaimer {
            @include toRem(14px);
            margin-right: 10px;
            text-align: left;

            br {
                display: block;
            }
        }
    }

    @media(max-width: $bp768) {
        .title-negative {
            @include toRem(30px);
        }

        .disclaimer {
            margin-bottom: 20px;
        }

        .sorteio__banner {
            margin-top: -160px;
        }
    }

    @media(max-width: $bp600) {
        .sorteio__banner {
            display: block;
            margin-top: 5px;

            img {
                width: 60%;
                margin: 0 auto;
            }
        }

        .title-negative {
            background: linear-gradient(to right, #221D44 20%, #221D44 20%);
            text-align: center;

            .border-style {
                padding-right: 0;
            }
        }

        .disclaimer {
            text-align: center;
            width: 100%;
        }
    }

    @media(max-width: $bp480) {
        .sorteio__banner {
            img {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .sorteio__info {
        width: 60%;
        margin-top: 150px;

        .title {
            @include toRem(60px);
            font-weight: $black;
            margin-bottom: 25px;
        }

        .sorteio__list {
            list-style: disc;
            @include toRem(25px);
            font-weight: $light;
            margin-left: 30px;

            li {
                margin-bottom: 15px;
            }
        }

        @media(max-width: $bp1200) {
            .title {
                @include toRem(30px);
            }

            .sorteio__list {
                @include toRem(18px);
            }
        }

        @media(max-width: $bp600) {
            margin-top: 20px;
            width: 100%;

            .title {
                text-align: center;
            }

            .sorteio__list {
                list-style: none;
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.pool {
    margin-top: 50px;

    .pool__hth {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 10%;
        }

        .caption {
            width: 90%;
            background-color: #221D42;
            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 50px;
            font-weight: $bold;
        }
    }

    .pool__calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        img {
            width: 10%;
        }

        .caption {
            width: 90%;
            margin-left: 15px;
        }

        .title {
            @include toRem(35px);

            strong {
                font-weight: $black;
            }
        }

        .paragraph {
            @include toRem(20px);
            margin-top: 10px;
            width: 50%;
            line-height: 20px;
        }

        @media(max-width: $bp992) {
            .paragraph {
                width: 100%;
            }

            .title {
                @include toRem(25px);
            }
        }
    }

    @media(max-width: $bp480) {

        .pool__hth,
        .pool__calendar {
            img {
                width: 20%;
            }

            .caption {
                width: 80%;
                @include toRem(16px);

                .title,
                .paragraph {
                    @include toRem(16px);
                }
            }
        }
    }
}

.pool__register {
    margin-top: 80px;

    .title {
        @include toRem(50px);
        font-weight: $bold;
        margin-bottom: 15px;

        @media(max-width: $bp600) {
            @include toRem(30px);
        }
    }

    .content-register {
        background-color: #5DA3D4;
        color: #fff;
        padding: 40px;
        border-radius: 30px;
        position: relative;

        .pool-bg {
            position: absolute;
            bottom: 0%;
            right: -10%;
            width: 50%;
            display: none;

            @media(max-width: $bp992) {
                position: inherit;
                bottom: initial;
                right: initial;
                width: 120%;
                max-width: 120%;
                margin-top: 30px;
                margin-bottom: -100px;
                margin-left: -50px;
            }

            @media(max-width: $bp480) {
                margin-left: -30px;
            }
        }

        .subtitle {
            font-size: 2vw;
            line-height: 2.2vw;
            font-weight: $bold;
            width: 60%;
            letter-spacing: 1px;
            margin-bottom: 10px;

            @media(max-width: $bp992) {
                @include toRem(25px);
                line-height: 25px;
                width: 100%;
            }
        }

        .paragraph {
            @include toRem(12px);
            font-weight: $light;

            @media(max-width: $bp992) {
                @include toRem(20px);
                line-height: 25px;
            }
        }
    }
}

.products {
    margin-top: 50px;

    .caption-mb {
        display: none;

        .title {
            font-size: 4vw;
            font-weight: $bold;
            color: #221D44;
            margin-bottom: 10px;

            @media(max-width: $bp480) {
                font-size: 7vw;
            }
        }

        .product-list {
            color: #221D44;
            list-style: disc;
            padding-left: 20px;

            li {
                margin-bottom: 10px;
            }
        }
    }

    @media(max-width: $bp992) {
        margin-top: 100px;

        .caption-mb {
            display: block;
        }
    }

    .products__banner {
        img {
            width: 100%;
        }
    }
}



.faq {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    counter-reset: question-counter;
    background-color: $faq-background-color;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        font-family: $roboto;
        padding: 10px 40px;
        border: 2px solid #1A194F;
        border-radius: 50px;
        font-size: 20px;
        font-weight: $bold;
        color: #1A194F;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
        display: inline-block;
    }

    .list__content {
        display: flex;
        justify-content: center;
        gap: 40px;
        width: 100%;

        .left__list,
        .right__list {
            flex: 1 1 100%; // Ajustar largura das listas
            max-width: 100%; // Limitar largura máxima das listas
            text-align: left;

            dt {
                font-weight: bold;
                font-family: $inter;
                font-size: 20px; // Aumentar tamanho da fonte
                margin-top: 25px; // Aumentar espaçamento entre os itens
                color: #000000;
                counter-increment: question-counter;
                position: relative;
                padding-left: 25px;

                &::before {
                    content: counter(question-counter) ". ";
                    position: absolute;
                    left: -5px;
                    font-weight: bold;
                    font-size: 20px;
                    color: #000000;
                }
            }

            dd {
                margin: 10px 0 25px 25px; // Aumentar espaçamento
                font-size: 16px; // Aumentar tamanho da fonte
                color: #000000;
            }
        }
    }

    @media (max-width: 768px) {
        h2 {
            padding: 15px 50px;
            font-size: 25px;
            font-weight: $black;
        }

        .list__content {
            flex-direction: column;
            align-items: left;

        }

        .right__list {
            margin-top: -70px;
        }

        dt {
            @include toRem(25px);
        }


        dd {
            @include toRem(16px);
        }
    }
}


.operation {
    margin-top: 50px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -15%;
        right: 5%;
        background-image: url('../img/gear.png');
        background-size: cover;
        width: 370px;
        height: 350px;
        display: block;
    }

    .title {
        @include toRem(40px);
        font-weight: $bold;
        margin-bottom: 15px;
    }

    .operation__list {
        list-style: decimal;
        padding-left: 25px;

        li {
            @include toRem(25px);
            margin-bottom: 15px;

            &::marker {
                font-weight: $bold;
            }

            .sub-list {
                padding-left: 20px;
                list-style: disc;
                margin-top: 10px;

                li {
                    @include toRem(20px);
                    font-weight: $light;
                }
            }
        }
    }
}